/* General */
.main {
    display: block;
    text-align: center;
    padding-bottom: 10%
}

.main-block {
  display: flex;
  padding-top: 1%;
}


.main-left {
    border-style: var(--show-borders);
    border-width: thin;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    padding: 5px 5px;
}

    .main-left a {
        background-color: #00000;
        font-size: inherit;
    }

    .main-left h1 {
        text-align: center;
    }

.main-right {
    border-style: var(--show-borders);
    width: 50%;
    position: relative;
    padding: 5px 5px;
    display: flex;
    align-items: center;
}

    .main-right img {
        width: 100%;
        max-height: 100%;
        position: relative;
        margin: 0 auto;
        display: block;
    }

    .main-right img svg {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

.description p {
  text-align: center;
}

.content {
    display: inline-block;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Front Page */
.frontpage-main {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}


@media screen and (max-width: 866px) {
    .frontpage-main {
        flex-direction: column;
    }
    .main-left {
        width: 100%;
    }

    .main-right {
        width: 100%;
        height: 300px;
    }
}
