@font-face {
  font-style: normal;
  font-family: 'Tinos';
  src: url('../fonts/Tinos-Regular.ttf') format('woff2-variations');
  font-weight: 200 900;
}

@font-face {
  font-style: normal;
  font-family: 'Tinos';
  src: url('../fonts/Tinos-Bold.ttf') format('woff2-variations');
  font-weight: 700 900;
}

@font-face {
  font-style: italic;
  font-family: 'Tinos';
  src: url('../fonts/Tinos-Italic.ttf') format('woff2-variations');
  font-weight: 200 900;
}

@font-face {
  font-style: italic;
  font-family: 'Tinos';
  src: url('../fonts/Tinos-BoldItalic.ttf') format('woff2-variations');
  font-weight: 700 900;
}
