footer {
    clear: both;
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: var(--fg);
}

footer p {
    float: right;
    line-height: 0.5em;
    font-weight: bold;
}
