<div class="publication">
    <p>
    <a href={{ .Get "link" }}>
        {{ .Inner }}
    </a>
    <br>
    {{ if (.Get "authors")}}
        <span class="authors">{{ .Get "authors"}}</span>
    {{ end }}
    {{ if (.Get "journal")}}
        <span class="journal">{{ .Get "journal"}}</span>
    {{ end }}
    {{ if (.Get "year")}}
        <span class="year">{{ .Get "year"}}</span>,
    {{ end }}
    {{ if (.Get "volume")}}
        <span class="volume">{{ .Get "volume"}}</span>,
    {{ end }}
    {{ if (.Get "pages")}}
        <span class="pages">{{ .Get "pages"}}</span>,
    {{ end }}
    {{ if (.Get "doi")}}
        <span class="doi">DOI: {{ .Get "doi"}}</span>
    {{ end }}
    </p>
</div>
